{% extends 'base.html' %}

{% block titles %}
<div class="jumbotron jumbotron-fluid" >
    <div class = "blur">

    </div>
    <div class="container main-text neontext" >
		
            <h1 id="FutureSee" class="display-4">Step-to-step guide</h1>
            <p class="lead">Easy guide to prepare, lay and maintain the turf</p>
        </div>
    </div>
{% endblock %}

{% block results %}


<iframe width="710" height="400" src="https://www.youtube.com/embed/gry149z2g5Y?si=ml32zF6YKTMLGJ4U&amp;start=31" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			


{% endblock %}
 