{% extends 'base.html' %}

{% block titles %}
    <div class="jumbotron jumbotron-fluid" >
        <div class = "blur">

        </div>
        <div class="container main-text neontext" >
		
            <h1 id="FutureSee" class="display-4">Easy Turf</h1>
            <p class="lead">Where turfing is as easy as a piece of grass.</p>
        </div>
    </div>
{% endblock %}

{% block results %}
	
	 <div class ="main-text">
        <h1>
            Types of Turf we offer!!
        </h1>
        Click on the type of grass to learn more.
     <br>
     <br>
     <br>
     <br>
     <br>
     
</div>
<div class="d-flex justify-content-between">
  <a href="https://www.yates.com.au/lawn-hub/varieties-of-turf/buffalo-grass/">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="/static/buf.jpg" alt="image of Buffalo grass">
        <div class="card-body">
          <p class="card-text">Buffalo Turf</p>
        </div>
      </div>
  </a>
  <a href="https://www.yates.com.au/lawn-hub/varieties-of-turf/perennial-ryegrass/">
    <div class="card" style=" width: 13rem;">
        <img class="card-img-top" src="/static/per.jpg" alt="image of Perennial Ryegrass">
        <div class="card-body">
          <p class="card-text"> Perennial Ryegrass</p>
        </div>
      </div>
    </a>
    <a href="https://www.yates.com.au/lawn-hub/varieties-of-turf/kikuyu-grass/">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="/static/kik.jpg" alt="Image of Kikuyu grass">
        <div class="card-body">
          <p class="card-text">Kikuyu Grass</p>
        </div>
      </div>
    </a>
    <a href="https://www.yates.com.au/lawn-hub/varieties-of-turf/zoysia/">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="/static/zoy.jpg" alt="Image of Zeon Zoysia Grass Sod: Soft, Cushion-Like Turf ">
        <div class="card-body">
          <p class="card-text">Zoysia Grass</p>
        </div>
      </div>
    </a>
</div>
<br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
<div class ="main-text">
    <h1>
        Services we offer at Easy Turf
    </h1>
 <br>
 <br>
 <br>
 <br>
 <br>

 </div>
<div class="d-flex justify-content-between">
    <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="/static/pre.jpg" alt="image of a garden being preped for turfing">
        <div class="card-body">
          <p class="card-text">Preparing the Garden</p>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="/static/del.jpg" alt="image of turf being transported on a truck">
        <div class="card-body">
          <p class="card-text">Selling and shipping the turf of your choice</p>
        </div>
      </div>
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="/static/lay.jpg" alt="image of a person laying turf on the ground">
        <div class="card-body">
          <p class="card-text">Professionally lay the turf</p>
        </div>
      </div>
</div>
<br>
<br>
<br>
<br>
<br>
If you want to know how to DIY head to the How To Guide page.
{% endblock %}

	   
 